@charset "UTF-8";
*{
    margin: 0%;
    padding: 0px;
}
@font-face {
    font-family:'fontdestaque';
    src: url(../desafio/pacote-projeto-d010/fontes/idroid.otf);
}
:root{
    --cor0: #042940;
    --cor2: #005C53;
    --cor3: #9FC131;
    --cor5: #D6D58E;

}
body{
    background-color:#005c53e0 ;
}


header > p {
    text-align: center;
}
header{
    background-image:linear-gradient(to bottom,#D6D58E ,#9FC131 );
    text-align: justify;
   min-width: 320px;
    margin: auto;
   max-width: 950px;
    padding-top: 20px;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.543);
}
header > h1{
   margin: auto;
    text-align: center;
    font-family:'fontdestaque';
    
    
}
nav > a:hover{
    
    
    background-color: #9FC131;
    
}
nav > a{
    

    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #005C53;
    margin-right: 150px;
    transition-duration: 2;
    max-width: 950px;
    min-width: 320px;
    
    
}

nav{
    font-style: initial;
    background-color: #D6D58E;
    width: 950px;
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.747);
     
    
     
     


}
main p {
    text-align: justify;
    text-align: center;
    
}

main{
    background-color: white;
   max-width: 900px;
   min-width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.676);
    margin: auto;
    padding: 25px;
margin-bottom: 15px;
line-height:auto;

}
article > h2{
    color: #042940;
    text-align: center;
}
article > h1{
    height: 50px;
    text-align: center;
    font-family: fontdestaque;
    

}  
 article > ul
 {
    columns: 2;
    margin-bottom: 15px;
    margin-top: 15px;
    lis
   }
    
    

footer{
    text-align: center;
    background-color:#D6D58E ;
    padding: 5px;
}
   
    
    
